TopCalendar/TopCalendar.Client.Connector/Service References/TopCalendarCommunicationService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDto" nillable="true" type="tns:TaskDto" />
  <xs:complexType name="ArrayOfTaskDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDto" nillable="true" type="tns:TaskDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDto" nillable="true" type="tns:ArrayOfTaskDto" />
</xs:schema>