TopCalendar/TopCalendar.Client.Connector/Service References/TopCalendarCommunicationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" />
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" minOccurs="0" name="checkUserRequest" nillable="true" type="q1:CheckUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" minOccurs="0" name="CheckUserResult" nillable="true" type="q2:CheckUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" minOccurs="0" name="registerUserRequest" nillable="true" type="q3:RegisterUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" minOccurs="0" name="RegisterUserResult" nillable="true" type="q4:RegisterUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>