TopCalendar/TopCalendar.Client.Connector/Service References/TopCalendarCommunicationService/TopCalendarCommunicationServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TopCalendarCommunicationServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITopCalendarCommunicationService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ITopCalendarCommunicationService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITopCalendarCommunicationService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ITopCalendarCommunicationService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ITopCalendarCommunicationService">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITopCalendarCommunicationService/CheckUser" message="tns:ITopCalendarCommunicationService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITopCalendarCommunicationService/CheckUserResponse" message="tns:ITopCalendarCommunicationService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITopCalendarCommunicationService/RegisterUser" message="tns:ITopCalendarCommunicationService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITopCalendarCommunicationService/RegisterUserResponse" message="tns:ITopCalendarCommunicationService_RegisterUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITopCalendarCommunicationService" type="tns:ITopCalendarCommunicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ITopCalendarCommunicationService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ITopCalendarCommunicationService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TopCalendarCommunicationServiceImpl">
    <wsdl:port name="BasicHttpBinding_ITopCalendarCommunicationService" binding="tns:BasicHttpBinding_ITopCalendarCommunicationService">
      <soap:address location="http://localhost/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>