TopCalendar/ClientApp/Service References/RemoteServerRef/ServerLib.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerLib.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerLib.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseCalendarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCalendarEntry" nillable="true" type="tns:BaseCalendarEntry" />
  <xs:complexType name="ArrayOfBaseCalendarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseCalendarEntry" nillable="true" type="tns:BaseCalendarEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseCalendarEntry" nillable="true" type="tns:ArrayOfBaseCalendarEntry" />
</xs:schema>