trunk/TopCalendar/TopCalendar.Client.Connector/Service References/TopCalendarCommunicationService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserBaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckUserRequest" nillable="true" type="tns:CheckUserRequest" />
  <xs:complexType name="UserBaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBaseRequest" nillable="true" type="tns:UserBaseRequest" />
  <xs:complexType name="CheckUserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckUserResponse" nillable="true" type="tns:CheckUserResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="RegisterUserRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserBaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterUserRequest" nillable="true" type="tns:RegisterUserRequest" />
  <xs:complexType name="RegisterUserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterUserResponse" nillable="true" type="tns:RegisterUserResponse" />
</xs:schema>