trunk/TopCalendar/TopCalendar.Client.Connector/Service References/TopCalendarCommunicationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" />
  <xs:element name="LoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="loginUserRequest" nillable="true" type="q1:LoginUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="LoginUserResult" nillable="true" type="q2:LoginUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="registerUserRequest" nillable="true" type="q3:RegisterUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="RegisterUserResult" nillable="true" type="q4:RegisterUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="addNewTaskRequest" nillable="true" type="q5:AddNewTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="AddNewTaskResult" nillable="true" type="q6:AddNewTaskResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="findTasksRequest" nillable="true" type="q7:FindTasksRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="FindTasksResult" nillable="true" type="q8:FindTasksResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="deleteTaskRequest" nillable="true" type="q9:RemoveTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="RemoveTaskResult" nillable="true" type="q10:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="updateTaskRequest" nillable="true" type="q11:UpdateTaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TopCalendar.Server.ServiceLibrary.ServiceContract.DataContract" minOccurs="0" name="UpdateTaskResult" nillable="true" type="q12:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>