trunk/TopCalendar/ClientApp/Service References/RemoteServerRef/ServerLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalendarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalendarEntry" nillable="true" type="tns:CalendarEntry" />
  <xs:complexType name="ArrayOfCalendarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalendarEntry" nillable="true" type="tns:CalendarEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendarEntry" nillable="true" type="tns:ArrayOfCalendarEntry" />
</xs:schema>